alabaster==0.7.12
Babel==2.10.3
badge==2020.12.3
betamax==0.8.1
bleach==5.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
collective.checkdocs==0.2
commonmark==0.9.1
docutils==0.17.1
format-keys==2020.12.3
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
jaraco.classes==3.2.3
Jinja2==3.1.2
keyring==23.9.3
MarkupSafe==2.1.1
more-itertools==8.14.0
packaging==21.3
pkginfo==1.8.3
Pygments==2.13.0
pyparsing==3.0.9
python-dotenv==0.21.0
pytz==2022.4
readme-renderer==37.2
recommonmark==0.7.1
requests==2.28.1
requests-toolbelt==0.10.0
rfc3986==2.0.0
rich==12.6.0
shields==2020.12.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.2.3
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
twine==4.0.1
typing_extensions==4.4.0
urllib3==1.26.12
webencodings==0.5.1
zipp==3.9.0
